---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>MedicValle</title>
  </head>
  <body>
    <h1>Dirección:</h1>
    <h2>Av. General Rumiñahui e Isla Genovesa</h2>
    <h3>Teléfonos:</h3>
    <h4>+593 96 252 6540</h4>
    <h5>+593 (02) 286 1949</h5>
    <h6>Email:</h6>
    <h7>@medicvalle.com</h7>

    <p> Síguenos en nuestras redes solciales</p>
    <p>Facebook: Clínica Medicvalle</p>
    <p>Instagram: @medicvalle_</p>
    <p>Tik Tok: clinica.medicvalle</p>

  </body>
</html>