---
import Loader from "../componentes/Loader.astro"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>MedicValle</title>
	</head>
	<body>
		<Loader/>
	</body>
</html>
<style>
	:root {						  /* Estilo para todas las páginas*/
  --main-color: #a9c9c8;        /* Variable de color principal */
  --secondary-color: #1f7aa5;   /* Variable de color secundario */
  --tercer-color: #3db3ab;		/* Variable de tercer color */
  --cuarto-color: #22448b;		/*Variable de cuarto color*/
  --quinto-color: #2891a9;		/*Variable de quinto color*/
  --font-size-large: 24px;      /* Variable de tamaño de fuente */
  --padding-standard: 16px;     /* Variable de padding */
	}

	body{
		width: 100vw;
		height: 100vh;
		background-color: var(--main-color);
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>