---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts=await Astro.glob('./posts-especialidades/*.md');
const pageTitle = "Inicio";
---

<BaseLayout pageTitle={pageTitle}>
      <h2>ESPECIALIDADES</h2>
      
      <p>MedicValle cuenta con las siguientes especialidades</p>
  
      <ul>
          {allPosts.map((post)=> <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
      </ul>
</BaseLayout>