<body>
    <a href="/">INICIO</a>
    <a href="/servicios/">SERVICIOS</a>
    <a href="/contactos/">CONTACTOS</a>
  
    <h2>ESPECIALIDADES</h2>
    
    <p>MedicValle cuenta con las siguientes especialidades</p>

    <ul>
        <li><a href="/posts/pediatria/">PEDIATRIA</a></li>
      </ul>
  </body>