---
import Header from '../componentes/Header.astro';
const pageTitle = "MedicValle";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta http-equiv="X-UA-Comaptible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/style_inicio.css">
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
<body>
  <div class="nav-bar">
    <Header />
  </div>
  
  <h2>GRAN SORTEO POR REINAUGURACIÓN</h2>
<h3>MedicValle ofrece por su reinauguración</h3>

<ul>
  <li>UN PARTO</li>
  <li>UNA COLPOSCOPIA</li>
  <li>DOS CIRUGÍAS PTERIGUM</li>
  <li>DOS INTERVENCIONES DE HERNIA DISCAL</li>
  <li>DOS PAQUETES DE FISIOTERAPIA (5 sesiones c/u)</li>
</ul>

</body>

<script src="/src/scripts/menu.js" type="module"></script>

</html>